<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">HOME</a>
      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
      aria-expanded="false" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <span class="navbar-toggler-icon"></span>
        </button>
        
    <div id="collapseExample" class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
            <form class="form-inline my-2 my-lg-0 ml-5">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <div class="position-absolute goRight">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Setting</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item">View/Edit profile</button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item">Sign Out</button>
                </div>
              </div>

              <div ngbDropdown class="d-inline-block ml-3">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Cart</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item">prod1</button>
                  <button class="dropdown-item">prod2</button>
                </div>
              </div>
            </div>
      </ul>
    </div>
  </div>
  </nav>
</header>