@import "../sharedStyle.scss";

header{
    nav{
        .btn-outline-primary
        {
         @extend %edit-Btn;
        }
        ul{
            .goRight
            {
                .SecDrop{   
                    @media only screen and (min-width:992px) {
                        left: -112px !important;
                    }   

                    @media only screen and (max-width:476px) {
                        left: -115px !important;
                    } 
                }
                
                .dropdown-menu
                {  
                     background-color: $main-color;
                     position:absolute !important;
                     .dropdown-item{
                        color: $white-color;  
                        &:hover
                        {
                            background-color: $hover-list;
                        }                      
                    } 
                }
            }
        }
        
    }
}