@import "../sharedStyle.scss";

header{
    nav{
        .btn-outline-primary
        {
         @extend %edit-Btn;
        }
        ul{
            .goRight
            {
                .SecDrop1
                {
                    left: -100px !important;
                }
                .SecDrop{ 
                    left: -141px !important;   
                }
                
                .dropdown-menu
                {  
                     background-color: $main-color;
                     position:absolute !important;
                     .dropdown-item{
                        color: $white-color;  
                        &:hover
                        {
                            background-color: $hover-list;
                        }                      
                    } 
                }
            }
        }
        
    }
}