<footer>
  <div class="container p-5 ">
    <div class="row mx-auto p-4">
      <div class="col-lg-4 col-md-12 col-xs-12">
        <article class="aboutDetail">
          <h4>About Us</h4>
          <p>The oldest classical Greek and Latin writing had little or no space between words and could be written in boustrophedon alternating directions Over time, text direction left to right became standardized.</p>
          <p><i class="fa fa-map-marker-alt"></i>90-120Sawston,Melburne,Australia</p>
          <p><i class="fa fa-phone"></i>+128 2569 2365or+128 5488 5699</p>
          <p><i class="far fa-envelope"></i>support@gtcmlu.com</p>
        </article>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <article class="aboutDetail">
          <h4>Recent News</h4> 
          <table class="Aboutus">
            <tr>
              <td>
                <img src="assets/Imges/index/img-9.jpg" />
              </td>
              <td>
                <p>ancient manuscripts another sentences</p>
                <p>14/07/2017</p>
              </td>
            </tr>
            <tr>
              <td>
                <img src="assets/Imges/index/img-10.jpg" />
              </td>
              <td>
                <p>modern English style is to use no indenting</p>
                <p>14/07/2017</p>
              </td>
            </tr>
            <tr>
              <td>
                <img src="assets/Imges/index/img-11.jpg" />
              </td>
              <td>
                <p>manuscript of Beowulf Outdenting is still</p>
                <p>14/07/2017</p>
              </td>
            </tr>
          </table>
        </article>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <article class="aboutDetail">
          <h4>Our Gallery</h4>
          <table>
            <tr>
              <td>
                <img src="assets/Imges/index/img-1%20(1).jpg" />
              </td>
              <td>
                <img src="assets/Imges/index/img-2%20(1).jpg" />
              </td>
              <td>
                <img src="assets/Imges/index/img-3%20(1).jpg" />
              </td>
              <td>
                <img src="assets/Imges/index/img-4%20(1).jpg" />
              </td>
            </tr>
            <tr>
              <td>
                <img src="assets/Imges/index/img-5.jpg" />
              </td>
              <td>
                <img src="assets/Imges/index/img-6.jpg" />
              </td>
              <td>
                <img src="assets/Imges/index/img-7.jpg" />
              </td>
              <td>
                <img src="assets/Imges/index/img-8.jpg" />
              </td>
            </tr>
          </table>
        </article>
      </div>
    </div>
  </div>
  <div class="copy">
    <p class="text-center d-flex flex-column justify-content-center h-100">copyright©made by <span>Huda Salah</span>
    </p>
  </div>
</footer>
