   <div class="row w-100 media mt-4" *ngFor="let prod of ProductData; let i=index;">
      <img class="col-md-4 col-xs-12 align-self-start mr-3 w-100" src= {{prod.Img}} alt="placeholder image">
      <div class="col-md-8 col-xs-12 media-body">
        <h5>{{prod.Name}}</h5>
        <h6>{{prod.Price}}</h6>
        <p>{{prod.Desc}}</p> 
          <div class="card-body btn-icon mt-3">
            <div class="mb-2 w-50 mb-4">
                <div class="d-inline divIcon"><i class="fa fa-heart"></i>
                </div>
                <div class="d-inline divIcon"><i class="fa fa-eye"></i>
                </div>
            </div>
          <button class="btn" type="button">ADD TO CART</button>
          
        </div>
      </div>
  </div>