  <div class="row w-100 media mt-4">
      <img class="col-md-4 col-xs-12 align-self-start mr-3 w-100" src="assets/Imges/img-1.jpg" alt="placeholder image">
      <div class="saleAdv d-flex justify-content-center align-items-center">SALE!</div>
      <div class="col-md-8 col-xs-12 media-body">
        <h5>Vase Low/Copper</h5>
        <h6>$16.00</h6>
        <p>Dicoration</p> 
          <div class="card-body btn-icon mt-3">
            <div class="mb-2 w-50 mb-4">
                <div class="d-inline divIcon"><i class="fa fa-heart"></i>
                </div>
                <div class="d-inline divIcon"><i class="fa fa-eye"></i>
                </div>
            </div>
          <button class="btn" type="button">ADD TO CART</button>
          
        </div>
      </div>
  </div>
  <div class="row w-100 media mt-4">
    <img class="col-md-4 col-xs-12 align-self-start mr-3 w-100" src="assets/Imges/img-2.jpg" alt="placeholder image">
    <div class="col-md-8 col-xs-12 media-body">
      <h5>Vase Low/Copper</h5>
      <h6>$16.00</h6>
      <p>Art Wall</p>
      <div class="card-body btn-icon mt-3">
          <div class="mb-2 w-50 mb-4">
              <div class="d-inline divIcon"><i class="fa fa-heart"></i>
              </div>
              <div class="d-inline divIcon"><i class="fa fa-eye"></i>
              </div>
          </div>
        <button class="btn" type="button">ADD TO CART</button>
      </div>
    </div>
  </div>
  <div class="row w-100 media mt-4">
    <img class="col-md-4 col-xs-12 align-self-start mr-3 w-100" src="assets/Imges/img-3.jpg" alt="placeholder image">
    <div class="col-md-8 col-xs-12 media-body">
      <h5>Vase Low/Copper</h5>
      <h6>$16.00</h6>
      <p>Art Wall</p>
      <div class="card-body btn-icon mt-3">
          <div class="mb-2 w-50 mb-4">
              <div class="d-inline divIcon"><i class="fa fa-heart"></i>
              </div>
              <div class="d-inline divIcon"><i class="fa fa-eye"></i>
              </div>
          </div>
        <button class="btn" type="button">ADD TO CART</button>
      </div>
    </div>
  </div>
  <div class="row w-100 media mt-4">
    <img class="col-md-4 col-xs-12 align-self-start mr-3 w-100" src="assets/Imges/img-4.jpg" alt="placeholder image">
    <div class="col-md-8 col-xs-12 media-body">
      <h5>Vase Low/Copper</h5>
      <h6>$16.00</h6>
      <p>clothes</p>
      <div class="card-body btn-icon mt-3">
          <div class="mb-2 w-50 mb-4">
              <div class="d-inline divIcon"><i class="fa fa-heart"></i>
              </div>
              <div class="d-inline divIcon"><i class="fa fa-eye"></i>
              </div>
          </div>
        <button class="btn" type="button">ADD TO CART</button>
      </div>
    </div>
  </div>
  <div class="row w-100 media mt-4">
    <img class="col-md-4 col-xs-12 align-self-start mr-3 w-100" src="assets/Imges/img-5.jpg" alt="placeholder image">
    <div class="col-md-8 col-xs-12 media-body">
      <h5>Vase Low/Copper</h5>
      <h6>$16.00</h6>
      <p>fashion</p>
      <div class="card-body btn-icon mt-3">
          <div class="mb-2 w-50 mb-4">
              <div class="d-inline divIcon"><i class="fa fa-heart"></i>
              </div>
              <div class="d-inline divIcon"><i class="fa fa-eye"></i>
              </div>
          </div>
        <button class="btn" type="button">ADD TO CART</button>
      </div>
    </div>
  </div>
  <div class="row w-100 media mt-4">
    <img class="col-md-4 col-xs-12 align-self-start mr-3 w-100" src="assets/Imges/img-6.jpg" alt="placeholder image">
    <div class="col-md-8 col-xs-12 media-body">
      <h5>Vase Low/Copper</h5>
      <h6>$16.00</h6>
      <p>clothes</p>
      <div class="card-body btn-icon mt-3">
          <div class="mb-2 w-50 mb-4">
              <div class="d-inline divIcon"><i class="fa fa-heart"></i>
              </div>
              <div class="d-inline divIcon"><i class="fa fa-eye"></i>
              </div>
          </div>
        <button class="btn" type="button">ADD TO CART</button>
      </div>
    </div>
  </div>
  