<!-- <a class="dropdown-item pb-3 text-white" href="#">
  <div class="media">
    <img class="align-self-start mr-3" src="assets/Imges/widget-img-2.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <article class="mt-0">
        <h6 class="d-inline" id="name">Wodeen Vase</h6><i class="fa fa-trash"></i>
        <p>$50.00</p>
      </article>
    </div>
  </div>
</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item pb-3 text-white" href="#">
  <div class="media">
    <img class="align-self-start mr-3" src="assets/Imges/widget-img-3.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <article class="mt-0">
        <h6 class="d-inline">Wodeen Vase</h6><i class="fa fa-trash"></i>
        <p>$50.00</p>
      </article>
    </div>
  </div>
</a>
 -->

 <p>hello</p>