<main>
  <section id="ProdItem">
    <div class="container mx-auto p-5">
      <div class="row container-fluid p-5">
        <div class="col-lg-6 col-md-5 col-xs-12">
          <div class="bgimg">
            <img src={ {ComeProduct.Img}} />
          </div>
        </div>
        <div class="col-lg-6 col-md-7 col-xs-12">
          <div class="card-body arcle">
            <div class="row w-100">
              <h4 class="col-lg-8 col-xs-12">{{ComeProduct.Name}}</h4>
              <div class="col-xs-12 stars text-muted"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                <i
                  class="fa fa-star"></i>
              </div>
            </div>
            <h6 class="mb-2 text-muted">by lora barns</h6>
            <p class="card-text text-muted pb-0 pt-2">{{ComeProduct.Desc}}</p> <span>Material:</span>
            <p class="text-muted d-inline">Concrete</p>
          </div>
          <div class="card-body price py-4">
            <h3 class="d-inline">{{ComeProduct.Price}}</h3>
            <br/>
            <label><h5>Quantity : </h5></label>
            <input class="form-control d-inline mt-4 w-25 text-center" type="number" min="0" placeholder="1" (click)="onKey($event)"
            />
            <div class="card-body btn-icon mt-3">
              <button class="btn" type="button" (click)="sendDataToCart(ComeProduct)">ADD TO CART</button>
            </div>
            <div class="mt-4">
              <p class="d-inline">Categories :</p><span class="text-muted">{{ComeProduct.Catego}}</span>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>