@import '_variables.scss';

$fontRaleway: 'Raleway', sans-serif;
$fontLato: 'Lato', sans-serif;
//var colors
$main-color:#964468;
$line-color:#fbca03;
$footer-bg-color:$main-color;
$copyright-color:#70344e;
$white-color:#fefefe;
$hover-list:#343a40;

%Line-after
{
   content: " ";
    position: absolute;
    margin: -7px 0;
    width: 35px;
    bottom:0;
    left: 0;
    border-top: 1px solid #fbca03;
}

%edit-Btn
{
    color:$main-color ;
    border-color:$main-color ;
    &:hover
    {
        background-color: $main-color;
        color: $white-color;
    }
    &:focus
    {
      box-shadow: 0 0 0 0.2rem #70344e;
    }
  }


  %form-control
  {
      background-color: transparent;
      border-color: $main-color;
      color: $main-color;
      &:focus
      {
          box-shadow: 0 0 0 0.1rem $main-color;
      }
  }

  //sub nav

    %navblog
    {
        nav
            {
                img{width: 20px;margin-left: 15px;cursor: pointer;}
                font-size: 13px;
                font-family: $fontLato;
            }
            .navbar
            {
                height: 42px;
            }
    }

    %figure
    { position: relative;
        img
            {
                width: 100%;
            }
        &:hover
        {
           .overlay
            {
              opacity: 0.8;  
                transition-duration: 0.5s;
                 cursor: pointer;
            }
        }
    }

    %overlayImg
     {

        background-color: white;
        opacity:0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }

 
  
 
    %saleAdv
     {
      position: absolute;
      left: 15px;top: 80px;
      background-color:$main-color;
      font-family: $fontRaleway;
      font-size: 16px;
      width: 89px;height: 30px;
  }

 //pagenation
  %pagenate
  {
      ul{
           img{width: 16px;}
          
          .page-link:hover
          {
            background-color: $main-color !important;
           }
            .page-link ,a
          { 
              color: black !important;
          }
       }
     
  }

 