<main>
    <section id="ProdList">
      <div class="container h-100">
          <div class="d-flex flex-column align-items-center justify-content-center w-100 h-100">
              <div class="col-md-9 pb-4 mt-4">
                  <nav class="navbar navbar-expand-lg bg-dark mb-3 text-white">
                    <p class="my-2">Showing 1-12 from All Items</p>
                    <div class="witchList ml-auto">
                        <i class="fa fa-th-large pr-2"> Grid View</i>
                        <i class="fa fa-align-justify ml-5 pr-2"> List View</i>
                      </div>
                  </nav>

                  <app-list-view></app-list-view>

                  <!-- <app-grid-view></app-grid-view> -->

                  <!-- pagenation -->
                  <div class="row w-100 justify-content-center pt-5">
                    <nav aria-label="Page navigation example" class="pagenate justify-content-center">
                      <ul class="pagination">
                        <li class="page-item mr-3">
                          <a class="page-link" href="#" tabindex="-1">
                            <img src="assets/Imges/icons/left.png" />Prev</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item ml-3">
                          <a class="page-link" href="#">
                            <img src="assets/Imges/icons/right.png" />
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>


          </div>
      </div>
    </section>
</main>
