@import "../sharedStyle.scss";

main{
    #ProdList
    { @extend %navblog;
        nav{
            .witchList
            {
                a{
                    color: $white-color;
                  &:first-of-type{color:$main-color;}
                  
                }
                i{
                    cursor: pointer;
                    &:hover{color: $main-color;}
                }
            }
        }
        .pagenate
        {
             @extend %pagenate;
           
        }
    }
}